{% load static %}
<!-- Footer Section Start -->
<section class="full_row py_80 bg_secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer_widget company_info">
          <div class="widget_head"><a href="index_1.html"><img class="logo-bottom" src="img/logo2.png" alt=""></a></div>
          <p>Newwaydevelopers is a bespoke real estate firm whose main vission is to provide Kenyan,s with affordable
            housing at ideal locations.We provide services to both home owners and investors</p>
          <div class="socail_media_1 mt-3">
            <ul>
              <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="https://vimeo.com/"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer_widget get_in_touch">
          <div class="widget_head">
            <h4 class="widget_title">Get In Touch</h4>
          </div>
          <ul>
            <li> <i class="fas fa-map-marker-alt"></i>
              <h6 class="text_white mb-2">Office Address</h6>
              <span>Nairobi CBD, Kenya</span>
            </li>
            <li> <i class="fa fa-phone" aria-hidden="true"></i>
              <h6 class="text_white mb-2">Call Us 24/7</h6>
              <span>(+254) 726 610840</span>
            </li>
            <li> <i class="far fa-envelope"></i>
              <h6 class="text_white mb-2">Email Address</h6>
              <span>info@newwaydevelopers.co.ke</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer_widget quick_link">
          <div class="widget_head">
            <h4 class="widget_title">Quick Links</h4>
          </div>
          <ul>
            <li><a href="faq.html">Freequinly Ask Question</a></li>
            <li><a href="about.html">About Our Company</a></li>
            <li><a href="our_service.html">Our Professional Services</a></li>
            <li><a href="terms_and_condition.html">Terms and Conditions</a></li>
            <li><a href="#">Become A Member</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer_widget newslatter">
          <div class="widget_head">
            <h4 class="widget_title">Newsletter</h4>
          </div>
          <p>Subscribe to our newsletter and we will inform your about newset projects.</p>
          <div class="news_letter">
            <form action="#" method="post">
              <input type="email" name="email" placeholder="Enter Your Email" class="form-control">
              <button type="submit" name="submit" class="btn btn_primary">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer Section End -->

<!-- Bottom Footer Start -->
<div class="full_row py-4 bg_black">
  <span class="copyright_text text-center text_white d-block">Copyright &copy; 2020 Newwaydevelopers</span>
</div>
<!-- Bottom Footer End -->